/* CSS for the cis-222 homework and projects */
/* general */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}
html { height: 100%; }
body {
  background-color: lightgray;
  margin: 0 20px;
  min-height: 100%;
  padding-bottom: 50px;
  position: relative;
}

/* styles applied to header, nav */
h1, h2, p {
font-size: 1.5em;    
padding: 10px;
margin: 10px;
text-align: center;
}

/* tables */
table {
  /* Center the form on the page */
  background: rgb(2,0,36);
background: linear-gradient(339deg, rgba(2,0,36,1) 0%, rgba(211,211,211,1) 0%, rgba(246,242,246,1) 100%, rgba(0,212,255,1) 100%);
  margin: 20px auto;
  width: 50%;
  /* Form outline */
  padding: 1em;
  box-shadow: 5px 5px 5px gray;
  border: solid black 1px;

}
/* default will be overridden by user */
td, th {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
tr:hover {
  background-color: #fcae28;
}

/* styles applied to forms */
form {
  background: rgb(2,0,36);
  background: linear-gradient(339deg, rgba(2,0,36,1) 0%, rgba(211,211,211,1) 0%, rgba(246,242,246,1) 100%, rgba(0,212,255,1) 100%);    width: 50%;
    padding: 1em;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    border: solid black 1px;

}
form > * {
  align-self: center;
}
label {
  /* Uniform size & alignment */
  
  width: 150px;
}
select, input {
  /* To make sure that all text fields have the same font settings
      By default, textareas have a monospace font */
  font-family: sans-serif;
  /* Uniform text field size */
  width: 150px;
  margin: 10px;
 
  box-sizing: border-box;
  /* Match form field borders */
}
#background {
  width: 150px;
}

.return-button{
  padding: 16px;
  margin: 20px auto;
  text-align: center;
  width: 200px;
}
form  button{
  padding: 16px;
  text-align: center;
  width: 200px;
}
/* footer */
footer {
  /*background-color: rgb(217, 198, 252);*/
  text-align: center;
  position: fixed;
    bottom: 0;
}