/* CSS for the cis-222 homework and projects */
/* updates in hw4:
   1 - nav ul adjusted for expanded menu
   2 - h3 added to h1 and h2 style setting
   3 - img width increased to 25%
*/
/* general */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
  list-style-type: none;
  text-decoration: none;
}
/*html { height: 100%; }*/
body {
  /*background: linear-gradient(#b7bbb1, #c6c8d7);*/
  background-image: url("../img/bg.jpg");
  margin: 0 20px;
  background-size: cover;
  padding-bottom: 50px;
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}
nav {
	background-color: rgb(152, 152, 126);
}
nav ul {
	height: 100px;
	display:grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	list-style-type:none;
	text-align:center;
}
nav ul li {
	padding: 10px;
}
li:hover {
  color: c6aeae;
}
nav ul li a {
	display: block;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
	font-size: 2em;
  width: 50%;
}
nav ul li a:hover {
	background-color: #b08eb9;
  border-radius: 25px;
}
.submenu {
	background-color: rgb(87, 87, 64);
}
.submenu ul {
	height: 50px;
	display:grid;
	grid-template-columns: repeat(4, 300px);
  grid-template-rows: 50px;
	align-items: center;
	list-style-type:none;
  justify-content: end;
	text-align:center;
}
.submenu ul li {
  padding: 5px;
}
.submenu ul li a {
	display: block;
	color: white;
	text-decoration: none;
	font-weight: normal;
	font-size: 1.25em;
}
/* styles applied to header, nav */
h1, h2, h3, h4, p, button {
  display: block;
  color: white;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
}
section {
  width: 50%;
  margin: 0 auto;
}
section h1, section h2, section h3, section p {
  font-size: 1.5em;    
  padding: 10px;
  margin: 10px;
  text-align: left;
}
/* first is logo, next is menu item images */
img {width: 25%;}
.detail {width: 25%;}
/* tables */
table {
  /* Center the form on the page */
  background: linear-gradient(339deg, rgba(2,0,36,1) 0%, rgba(211,211,211,1) 0%, rgba(246,242,246,1) 100%, rgba(0,212,255,1) 100%);    
 
  margin: 0 auto;
  font-size: 1.25em;
  /* Form outline */
  padding: 1em;
  box-shadow: 5px 5px 5px gray;
  border: solid black 1px;
}
#scroll {
  overflow-y:scroll;
   height:200px;
   display:block;
}
/* default will be overridden by user */
td, th {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 20%;
}
.num {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 10%;
}
tr:hover {
  background-color: #c6aeae;
}
/* styles applied to forms */
form {
  background: rgb(2,0,36);
  background: linear-gradient(339deg, rgba(2,0,36,1) 0%, rgba(211,211,211,1) 0%, rgba(246,242,246,1) 100%, rgba(0,212,255,1) 100%);    
  width: 50%;
  padding: 1em;
  box-shadow: 5px 5px 5px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  border: solid black 1px;
}
form > * {
  align-self: center;
}
label {
  /* Uniform size & alignment */
  padding: 15px;
}
#background {
  width: 150px;
}
/* footer */
footer {
  /*background-color: rgb(217, 198, 252);*/
  text-align: center;
    bottom: 0;
}
.container{
  
  background-color:#666;
  display:grid;
  grid-template-columns: repeat(2, 1fr);

}
.sections{
  background-color:rgb(174 173 193);
  padding:20px;
  
  font-family:sans-serif;
}
