* {
  text-align: center;
  font-size: 1.1rem;
  font-family: sans-serif;
}
table {
  margin-left: auto;
  margin-right: auto;
}

/* make css changes starting here */
input {
   /* set background color of input elements to palegreen */
   background-color: palegreen;
} 

img {
	/* set the image's width to be 20% */
  width: 20%;
}


 