{% extends 'app.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
<div class = "aboutHero_picture"></div>
<main>
        <div class = "aboutText1">
        <!-- Text over hero image -->
            <h1>About Me</h1>
            <p><strong>As a coach I work to empower and motivate clients to create a healthy lifestyle routine that works best on an individual basis
            - fitness is not one size fits all!</strong></p>
            <!-- Swaps Image location for mobile devices -->
            <div class="aboutImageMediaQuery"></div>
        <div>
    <div class = "about">

        <div class = "aboutText2">
            <br>
            <!-- Text about Samantha and what she does -->
            <p>Fit is not a Destination- it is a Way of Life
            Learn the right combination of movement and nutrition that will work for you.  Fall in love with the process of health!
            I am tenacious about pursuing results.
            Work with the local premier fitness and health coaching specialist!
            <br>
            <br>
            Hi! I’m Coach Samantha and I have over 10 years of experience in the fitness industry.
            I am also a Certified Health Education Specialist (CHES®) with degrees in Psychology and Public Health.
            My specialized background enables me to work with clients towards developing mastery in the area of behavior change.
            As a former collegiate athlete I am uniquely capable of guiding clients through all aspects of their health and fitness journeys,
            ready to hold clients accountable when needed and always there to support clients during the challenging stages of change.
            <br>
            <br>
            No matter what your goals, working with me on your team will provide the expertise and accountability to guide your journey to your healthiest and happiest life!
            I am working to provide clients safe access to fitness during the COVID pandemic.
            You can schedule outdoor, socially-distanced training sessions and I will deliver the workout to your preferred location!
            Or train with me from the comfort of your home with 100% online coaching options!
            Schedule your FREE consultation with me today</p>
        </div>
        <div class = "aboutImage">
        <!-- Image next to text-->
        <div class = "responsive">
            <img src="images/about-us2.jpg" alt="Coach Samantha exercising at home" class="responsive" width="500" height="500">
        </div>
        </div>
    </div>
</main>
{% endblock %}


