{% extends 'app.html.twig' %}

{% block title %}Hello Samantha!{% endblock %}

{% block body %}
            <div class = "homeHero_picture">
                <div class = "HomeHero_text">
                    <h1>Start building the new you!
                    <br>
                    Work with a professional life coach today!</h1>
                </div>
            </div>

    <main>
        <div class="home">
            <!--Home page text -->
                <br>
                <br>            
                <!-- Shows what the site has to offer in terms of services -->
                <h2>Services Available</h2>
                <!-- This div class aligns the sections -->
            <div class="flow">
                <!-- Section that describes and links to Scheduler -->
                <section>
                    <a href="{{ path('app_schedule') }}"><img src="images/schedule1.jpg" alt="Schedule meeting" width="300" height="300"></a>
                    <h3>Schedule Appointments</h3>
                    <p>Meet with a life coach <br> for fitness guidance.</p>
                </section>
                <!--Section that describes and links to Meal planner -->
                <section>
                    <a href="{{ path('app_mealPlanner') }}"><img src="images/foodPlanner2.jpg" alt="Meal planner" width="300" height="300"></a>
                    <h3>Meal Planner</h3>
                    <p>Look through healthy meals <br> to help with fitness goals.</p>
                </section>
                <!--Section that describes and links to Group meetings -->
                <section>
                    <a href="{{ path('app_schedule') }}"><img src="images/groupMeeting2.jpg" alt="Group meetings" width="300" height="300"></a>
                    <h3>Group Meetings</h3>
                    <p>Communicate with others <br> who have similar goals.</p>
                </section>
                </div>
                <!--This displays Testimonials from customers -->
                <h2>Testimonials</h2>
            <div class="flow">
                <!--Testimonial from customer 1 -->
                <section>
                    <!--<img src="images/testimonial5.jpg" alt="Testimonial 1" width="300" height="300">-->
                    <h3>Carolina J.</h3>
                    <p>“Samantha is a great coach and motivator. She will tailor the workouts based on your individual goals. She is constantly
                    coming up with new routines and exercises to change them up. She has worked with me through my training for a marathon
                    twice and was able to improve my times. I highly recommend her as a coach.”</p>
                </section>
                <!--Testimonial from customer 2 -->
                <section>
                    <!--<img src="images/testimonial4.jpg" alt="Testimonial 2" width="300" height="300">-->
                <h3>Dawn S.</h3>
                <p>“Coach Samantha stands out for her fun, driven and enthusiastic energy- as well as her authentic investment in each of
                her clients. Sam is not only incredibly knowledgeable about fitness but also provides achievable nutrition guidance-
                Samantha inspires me to keep showing up and never give up!”</p>
                </section>
                <!--Testimonial from customer 3 -->
                <section>
                    <!--<img src="images/testimonial7.jpg" alt="Testimonial 3" width="300" height="300">-->
                    <h3>Jaclyn W.</h3>
                    <p>“I was in need of a program to motivate me and help me feel strong and healthy for my second pregnancy. I love Coach
                    Samantha’s online programs! The daily home workouts get me sweating and the food prep recipes are super easy and so
                    delicious.”</p>
                </section>
            </div>
        </div>
    </main>
{% endblock %}
