{% extends 'app.html.twig' %}

{% block title %}Hello Samantha!{% endblock %}

{% block body %}
    <div class = "servicesHero_picture"></div>

    <main>
        <div class="home">
            <!--Services page text -->
                <br>
                <br>            
                <!-- Site title-->
                <h1>Services</h1>
                <p>Fit is not a Destination- it is a Way of Life
                Learn the right combination of movement and nutrition that will work for you.
                <br>Fall in love with the process of health!</p>
                <!-- This div class aligns the sections -->
            <div class="flow">
                <!-- Section that explains personal training -->
                <section>
                    <img src="images/services1.jpg" alt="Personal Training" width="300" height="300">
                    <h3>Personal Training</h3>
                    <p>Individual and small group sessions that are designed to help you reach your fitness goals.
                    Online and in-person, socially distanced training options available.</p>
                </section>
                <!--Section that explains the nutritional side of the business -->
                <section>
                    <img src="images/services2.jpg" alt="Nutrition" width="300" height="300">
                    <h3>Nutrition</h3>
                    <p>Exercise is only one facet of a healthy lifestyle. I’ll provide you the education
                    to make empowered food choices so you can have achieve your desired results.</p>
                </section>
                <!--Section that explains that the business will help in the long term -->
                <section>
                    <img src="images/services3.jpg" alt="Lifelong Health" width="300" height="300">
                    <h3>Lifelong Health</h3>
                    <p>Whether you’re seeking to improve a chronic condition or looking to achieve peak performance,
                    I provide the expertise to get you to your healthiest and happiest.</p>
                </section>
                <!--Section that explains that the business will create a plan for them -->
                <section>
                    <img src="images/services4.jpg" alt="Customized Plans" width="300" height="300">
                    <h3>Customized Plans</h3>
                    <p>Sometimes all you need is the instruction manual. Let me design a total
                    life plan that will help you reach your goals.</p>
                </section>
                </div>

        </div>
        <!--Explains that prices are negotiable -->
    <p>&nbsp;All prices are negotiated during the first strategy session.</p>

    </main>

{% endblock %}
